:root {
  --bg-white: #fafafa;
  --text-black: #292929;
  --light-bg-gray: #f4f4f4;
  --bg-gray: #ededed;
  --text-gray: #949494;
  --light-gray: #aaaaaa;
  --main-green: #6bd39d;
  --light-green: #c0ecd5;
  --dark-green: #38bc78;
  --gray-green: #aecebd;
  --main-yellow: #de9114;
  --light-yellow: #f2ae41;
  --main-red: #e04237;
  --light-red: #e86a61;

  --title-text-size: 2rem;
  --menu-item-text-size: 1.75rem;
  --form-title-text-size: 1.5rem;
  --button-text-size: 1rem;
  --table-header-text-size: 0.875rem;

  --standard-border-radius: 12px;
  --button-border-radius: 8px;
  --standard-border-width: 3px;
  --table-border-width: 2px;

  --x-small-spacing: 0.5rem;
  --small-spacing: 1rem;
  --medium-spacing: 1.75rem;
  --large-spacing: 2.5rem;
  --x-large-spacing: 3.5rem;

  --button-padding: 0.75rem;
  --icon-button-padding: 0.5rem;

  --menu-item-transition-length: 400ms;
  --quick-fade-transition-length: 300ms;

  --bottom-nav-height: 4.25rem;
  --side-nav-width: 6.25rem;
  --side-nav-width-open: 20rem;
}

html,
body {
  max-width: 100vw;
  height: 100dvh;
  overflow-x: hidden;
}

body {
  color: var(--text-black);
  background: var(--main-green);
  font-family: var(--font-inter);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}
