:root {
  --bg-white: #f4f4f4;
  --text-black: #292929;
  --bg-gray: #e4e4e4;
  --text-gray: #888888;
  --light-gray: #aaaaaa;
  --main-green: #6bd39d;
  --light-green: #8ee4b8;
  --gray-green: #aecebd;
  --main-yellow: #de9114;
  --light-yellow: #f2ae41;
  --main-red: #e04237;
  --light-red: #e86a61;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-black);
  background: var(--bg-white);
  font-family: var(--font-inter);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}
