.main {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--bottom-nav-height);
  padding: var(--small-spacing);
}

.body {
  display: flex;
  flex-direction: column;
}

@media (min-width: 40rem) {
  .main {
    margin-bottom: 0;
    padding: var(--medium-spacing);
    flex: 1;
    overflow-y: auto;
  }

  .body {
    flex-direction: row;
  }
}
