/* BOTTOM NAV ================================== */

.bottomNav {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 4;
  height: var(--bottom-nav-height);
  background-color: var(--bg-white);
  padding: var(--x-small-spacing);
  border-top: var(--standard-border-width) solid var(--bg-gray);
  border-radius: var(--standard-border-radius) var(--standard-border-radius) 0 0;
  box-shadow: 0 -3px 20px rgba(0, 0, 0, 0.1);
}

.bottomNav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* SIDE NAV ==================================== */

.sideNav {
  display: none;
  flex-direction: column;
  align-items: normal;
  background-color: var(--bg-white);
  padding: var(--small-spacing);
  width: var(--side-nav-width);
  border-radius: 0 var(--standard-border-radius) var(--standard-border-radius) 0;
  border-right: var(--standard-border-width) solid var(--bg-gray);
  transition: width 600ms ease-out;
  overflow-x: hidden;
}

.sideNav.open {
  width: var(--side-nav-width-open);
}

.sideNav nav {
  flex: 1;
}

.sideNav ul {
  display: flex;
  flex-direction: column;
  gap: var(--small-spacing);
}

.sideNav .iconLink span {
  font-size: var(--menu-item-text-size);
  font-weight: 500;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease-out;
}

.sideNav.open .iconLink span {
  opacity: 1;
  visibility: visible;
}

.sideNav .iconLink .menuIcon {
  margin: var(--x-small-spacing);
  flex-shrink: 0;
}

.sideNav .iconLink:hover,
.sideNav .iconLink:focus-visible {
  background-color: var(--bg-gray);
  outline: none;
}

.sideNav .iconLink:active {
  background-color: var(--main-green);
}

/* ICON LINK =================================== */

.menuIcon {
  width: 2rem;
  height: 2rem;
}

.iconLink {
  display: flex;
  align-items: center;
  gap: var(--x-small-spacing);
  padding: var(--icon-button-padding);
  border-radius: var(--button-border-radius);
  -webkit-tap-highlight-color: transparent; /* Removes blue highlight on phones */
  transition: background-color 400ms ease-out, color 400ms ease-in-out;
}

.iconLink:active {
  background-color: var(--bg-gray);
}

.iconLink.active {
  color: var(--main-green);
}

/* TOGGLE BUTTON ============================== */

.toggleButton {
  display: none;
  border: none;
  background-color: var(--main-green);
  color: var(--bg-white);
  cursor: pointer;
  align-self: flex-end;
}

.sideNav .toggleButton:hover,
.sideNav .toggleButton:focus-visible {
  background-color: var(--dark-green);
}

.sideNav .toggleButton:active {
  background-color: var(--light-green);
}

.toggleButton .menuIcon {
  transition: transform 400ms;
}

.sideNav.open .toggleButton .menuIcon {
  transform: rotate(-180deg);
}

/* CONTAINER ================================== */

.container {
  background-color: var(--bg-white);
  border-radius: var(--standard-border-radius);
  border: var(--standard-border-width) solid var(--bg-gray);
  overflow: hidden;
}

.container:not(:last-child) {
  margin-bottom: var(--medium-spacing);
}

/* ITEM TABLE ================================= */

.tableContainer {
  height: 100%;
  overflow-y: auto;
  overflow-x: visible;
}

.table {
  --table-row-color: var(--bg-white);

  border-collapse: collapse;
  border-spacing: 0;
  border: none;
  width: 100%;
  text-align: right;
  table-layout: fixed;
}

.table th {
  background-color: var(--bg-gray);
  color: var(--text-gray);
  padding: calc(var(--x-small-spacing) / 2) 0;
  font-weight: 500;
  font-size: var(--table-header-text-size);
  position: sticky;
  top: 0;
  z-index: 2;
}

.table th:not(:first-child) {
  width: 5rem;
}

.table thead {
  /* position: sticky;
  left: 0; */
}

.table th:first-child,
.table td:first-child {
  width: 10rem;
  padding-left: var(--small-spacing);
  text-align: left;
  position: sticky;
  left: 0;
}

.table td:first-child {
  background-color: var(--table-row-color);
  z-index: 1;
}

.table th:first-child {
  z-index: 3;
}

.table th:last-child,
.table td:last-child {
  padding-right: var(--small-spacing);
}

.table tbody {
  padding: 0 10px;
}

.table td {
  padding: var(--small-spacing) 0;
}

.table tr {
  position: relative;
  background-color: var(--table-row-color);
  border-bottom: var(--table-border-width) solid var(--bg-gray);
  cursor: pointer;
}

.table tr:hover,
.table tr:focus {
  --table-row-color: var(--light-bg-gray);
}

.table thead tr,
.table tr:last-child {
  border-bottom: none;
}

/* .table tr:nth-of-type(2n) {
  background: hsl(0 0% 0% / 0.03);
} */

/* BREAKPOINTS ================================ */

@media (min-width: 40rem) {
  .bottomNav {
    display: none;
  }

  .sideNav {
    display: flex;
  }
}

@media (min-width: 52rem) {
  .toggleButton {
    display: flex;
  }
}

/* UTILITY CLASSES =========================== */

.flexFull {
  flex: 1;
}

.flexNoShrink {
  flex-shrink: 0;
}

.fullHeight {
  max-height: 100%;
}

.noDisplay {
  display: none;
}

/* TEST TEMP!!!!! TA BORT SEN */

.test {
  padding: var(--small-spacing);
}
